.mat-toolbar{
    margin: -24x;
    width: auto;
    margin-bottom: 10px;
}
.margin-form-field{
    padding: 5p;
}
mat-hint{
    color:red;
}

.mat-toolbar.mat-primary {
    background: #212121;
    color: #fff;
  }