.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.item img{
    width:64px;
}
.item{
    margin: 0px 15px;
    text-align: center;
}
.item:hover{
    color: blue;
}

.card img:hover{
    transition: 0.3 ease-in-out;
    transform: scale(1.1);

}
.card img{
width: 200px;
height: 200px;
margin-top: 20px;
transition: 0.3s ease-in-out;
display: flex;
position: relative;
}
.card{
    padding: 20px;
    margin: 40px;
    display: flex;
}